///
/// Solid State by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Notification */

    .toast {
        align-content: center;
        border-radius: _size(border-radius);
        bottom: 30px;
        background-color: _palette(bg);
        display: flex;
        flex-direction: row;
        left: calc((100% / 2) - 125px);
        justify-content: center;
        position: fixed;
        padding: 10px 20px;
        text-align: center;
        width: 250px;
        z-index: 1;
    }
    
    .animation{
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        
        /* Animations to fade the snackbar in and out */
        @-webkit-keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }
        
            to {
                bottom: 30px;
                opacity: 1;
            }
        }
        
        @keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }
        
            to {
                bottom: 30px;
                opacity: 1;
            }
        }
        
        @-webkit-keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }
        
            to {
                bottom: 0;
                opacity: 0;
            }
        }
        
        @keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }
        
            to {
                bottom: 0;
                opacity: 0;
            }
        }
    }

